*.pb filter=lfs diff=lfs merge=lfs -text
ros/src/tl_detector/light_classification/models/frozen_inference_graph.pb filter=lfs diff=lfs merge=lfs -text
ros/src/tl_detector/light_classification/models/frozen_inference_graph_.pb filter=lfs diff=lfs merge=lfs -text
